/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.cpcache/
.lsp/
.calva/
.vscode/
.clj-kondo/.cache/
.clj-kondo/imports/
*.code-workspace
*.iml
.idea/
.session
