;; https://adventofcode.com/{{year}}/day/{{day}}
(ns aoc{{year}}.day{{day}}
  (:require
   [aoc.day :as d]
   [aoc.util.collection :as c]
   [aoc.util.math :as m]
   [aoc.util.string :as s]))

(def input (d/day-input {{year}} {{day}}))

(defn part1 [input])

(defn part2 [input])
